$basic-height: 30px;

.debug {
  border: 1px dotted red;
}

header {
  margin-top: 30px;
  position: relative;
  i.glyphicon {
    display: inline-block;
    background-color: #672328;
    color: #fff;
    width: 31px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    padding-left: 2px;
    cursor: pointer;
  }  
}

h1 {
  margin-top: 0;
}

.form {
  position: absolute;
  top: 70px;
  background-color: #fff;
  z-index: 1;
}

.lista-facturas li {
  background-color: #eee;
  height: $basic-height;
  line-height: $basic-height;
  padding: 0 5px;
  margin: 10px 0;
}

.balance {
  .pos {
    color: #00c;
  }
  .neg {
    color: #f00;
  }
}